<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Udacity Natural Language Processing Project</title>
    </head>

    <body>
        <header>
            <h1>Udacity Natural Language Processing Project</h1>
        </header>
        <main>
            <section>
                <textarea id="txt" type="text" name="txt" value="" placeholder="Write text here and check what language it is"></textarea>
                <button id="submit" type="submit">Submit</button>
            </section>
            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
