<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Udacity Natural Language Processing Project</title>
    </head>

    <body>
        <header>
            <h1>Udacity Natural Language Processing Project</h1>
            <h2>Sentiment Analysis</h2>
            <p>Sentiment Analysis analyzes texts and detects their polarity, subjectivity, irony and emotional agreement.</p>
        </header>
        <main>
            <section>
                <input id="url" type="text" name="url" value="" placeholder="Add URL here">
                <button id="submit" type="submit">Submit</button>
            </section>
            <section id="results"></section>
        </main>
    </body>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker
                .register('/service-workers.js')
                .then(reg => console.log('Service Worker: Registered!'));
            });
        }
    </script>
</html>